@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
    font-family: "EB Garamond";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fffcf2;
    background-image: url(./back.svg);
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    border: 1px solid #fffcf2;
    padding: 20px 40px;
    margin-bottom: 20px;
}

h1 {
    font-size: 54px;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 20px;
}

p {
    font-size: 22px;
    text-align: justify;
    line-height: 1.6;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

li {
    margin: 5px 5px;
}

a {
    font-size: 22px;
    color: #fffcf2;
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: #eb5e28;
}

ol {
    margin-left: 20px;
}

ol li {
    font-size: 22px;
    margin: 10px 0;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    p,
    a,
    ol li {
        font-size: 18px;
    }

    section {
        padding: 15px 20px;
    }
}
